body {
  background: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  background-repeat: no-repeat;
}
.row {
  flex-wrap: nowrap;
}
@media screen and (min-width: 350px) and (max-width: 1100px) {
  .row {
    flex-wrap: wrap;
  }
}
.col {
  margin: 20px;
}
.card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid lightblue;
  height: 900px;
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.sold-out {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 300px;
  max-height: 300px;
  margin: 50px 0px 0px 0px;
}
p {
  text-align: center;
}
h2 {
  text-align: center;
  padding: 10px;
  border: 1px solid lightblue;

  font-family: "Bebas Neue", cursive;
}
section {
  padding: 10px;
}
.item-desription {
  text-align: justify;
  padding: 16px;
  margin: 0px;
  font-family: "Rajdhani", sans-serif;
}
.availability {
  margin: 0px;
  background-color: gray;
  color: yellow;
  font-family: "Akshar", sans-serif;
}
.card-body {
  padding: 0px;
  height: 600px;
}
.specs {
  margin: 0px;
  font-weight: bold;
}
li {
  list-style: none;
  font-weight: bolder;
}
header {
  font-family: "Akshar", sans-serif;
}
footer {
  font-size: 10px;
  text-align: center;
}
.pontiac {
  filter: hue-rotate(320deg);
  position: relative;
}
.gold-potato {
  filter: contrast(150%);
}
.sweet-potato {
  filter: brightness(50%);
}
